<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="content-script-type" content="text/javascript">
    <title>TopCoder Practice {{ username }}'s page</title>
  </head>
  <body>
Hello, {{ username }}. (<a href="./logout">Not {{username}}</a>?)

<form action="./create" method="POST">
<h2>Input your practice history</h2>
<select name="roundid">
{% for round in rounds %}
<option value="{{ round.id }}">{{ round.name }}</option>
{% endfor %}
</select>
<select name="division">
<option value="1">Div1</option>
<option value="2">Div2</option>
</select>
<select name="level">
<option value="1">Easy</option>
<option value="2">Medium</option>
<option value="3">Hard</option>
</select>
<input type="submit" value="input">
</form>
<h2>The problems solved ({{ hist_count }} solved)</h2>
{% ifnotequal hist_count 0 %}
<table border="1">
<tr>
<th>round name</th><th>Div1</th><th>Div2</th>
</tr>
{% for h in hist %}
{% with h|slice:"1:2"|first as roundid  %}
{% with h|slice:"2:3"|first as div1  %}
{% with h|slice:"3:4"|first as div2  %}
<tr>
<td>{{ h|slice:"0:1"|first }}</td>
<td>
{% if div1|slice:"0:1"|first %}
<a href="./detail?roundid={{roundid}}&level=1&division=1">Easy</a>
{% else %}
Easy
{% endif %}
{% if div1|slice:"1:2"|first %}
<a href="./detail?roundid={{roundid}}&level=2&division=1">Medium</a>
{% else %}
Medium
{% endif %}
{% if div1|slice:"2:3"|first %}
<a href="./detail?roundid={{roundid}}&level=3&division=1">Hard</a>
{% else %}
Hard
{% endif %}
</td>
<td>
{% if div2|slice:"0:1"|first %}
<a href="./detail?roundid={{roundid}}&level=1&division=2">Easy</a>
{% else %}
Easy
{% endif %}
{% if div2|slice:"1:2"|first %}
<a href="./detail?roundid={{roundid}}&level=2&division=2">Medium</a>
{% else %}
Medium
{% endif %}
{% if div2|slice:"2:3"|first %}
<a href="./detail?roundid={{roundid}}&level=3&division=2">Hard</a>
{% else %}
Hard
{% endif %}
</td>
</tr>
{% endwith %}
{% endwith %}
{% endwith %}
{% endfor %}
</table>
{% endifnotequal %}
<br />
  </body>
</html>
